* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

caption {
  caption-side: top;
}

:root {
  /* colors */
  --MAIN_RED: #E32112;
  --MAIN_WHITE: #FFFFFF;
  --MAIN_BLACK_80: rgba(0, 0, 0, 0.8);
  --MAIN_BLACK_60: rgba(0, 0, 0, 0.6);
  --MAIN_BLACK_40: rgba(0, 0, 0, 0.4);
  --MAIN_BLACK_20: rgba(0, 0, 0, 0.2);
  --MAIN_BLACK_5: rgba(0, 0, 0, 0.05);
  --MAIN_BLACK_2: rgba(0, 0, 0, 0.02);

  /* width */
  //--MENU_WIDTH: 15%;
  //--CONTENT_WIDTH: 85%;
  //--MENU_MIN_WIDTH: 165px;
  //--CONTENT_MIN_WIDTH: 505px;

  /* height */
  //--BTN_HEIGHT: 38px;
  //--INPUT_HEIGHT: 38px;

  /* size */
}